
.enquiry-head
{
    color: rgb(0, 4, 255);
    margin-top: 20px;
    margin-left: 635px;
}

.textarea
{
    margin-top: 70px;
    margin-left:450px;
}
.sub
{
    margin-top: 50px;
    margin-left:680px;
}