
.img
{
position:absolute;
height:400px;
 width:500px;
 margin-top:100px;
 margin-left:230px;
}
.logbox
{
   width:320px;
   margin-top:140px;
   margin-left:750px;
}
.heading1
{
   color: rgb(0, 4, 255);
   margin-left:50px;
   margin-bottom:60px;
}